<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  {% assign page_is_article = false %}
  {% if page.layout == "post" %}{% assign page_is_article = true %}{% endif %}

  {% assign page_title = "" %}
  {% if page.draft %}{% assign page_title = page_title | append: "[DRAFT] " %}{% endif %}
  {% if page.title %}
    {% if page.layout == "post" %}
      {% assign page_title = page_title | append: page.title | append: " | " | append: site.blog_name %}
    {% else %}
      {% assign page_title = page_title | append: page.title | append: " | " | append: site.title %}
    {% endif %}
  {% else %}
    {% assign page_title = site.title %}
  {% endif %}

  {% assign page_description = "" %}
  {% if page.draft %}{% assign page_description = page_description | append: "[DRAFT] " %}{% endif %}
  {% if page.blurb %}
    {% assign page_description = page_description | append: page.blurb %}
  {% else %}
    {% assign page_description = site.description %}
  {% endif %}

  {% assign page_url = page.url | replace: "index.html","" | replace: ".html","" | prepend: site.baseurl | prepend: site.url %}

  {% assign page_image = site.og_image | prepend: site.baseurl | prepend: site.url %}
  {% if page.og_image %}
    {% assign page_image = site.url + page.og_image %}
  {% else %}
    {% assign page_image = "miniature.jpg" | prepend: "/assets/img/" %}
  {% endif %}

  {% for follow in site.footer.follow %}
    {% if follow.name == 'Twitter' %}
      {% assign twitter_username = follow.username %}
      {% break %}
    {% endif %}
  {% endfor %}

  <!-- Primary Meta Tags -->
  <title>{{ page_title }}</title>
  <meta name="title" content="{{ page_title }}"/>
  <meta name="description" content="{{ page_description }}"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:site_name" content="{{ page_title }}"/>
  <meta property="og:type" content="{% if page_is_article %}article{% else %}website{% endif %}"/>
  <meta property="og:url" content="{{ page_url }}"/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:description" content="{{ page_description }}"/>
  <meta property="og:image" content="{{ page_image }}"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content="{{ page_url }}"/>
  <meta property="twitter:title" content="{{ page_title }}"/>
  <meta property="twitter:description" content="{{ page_description }}"/>
  <meta property="twitter:image" content="{{ page_image }}"/>
  {% if twitter_username %}
    <meta property="twitter:creator" content="{{ twitter_username }}"/>
    <meta property="twitter:site" content="{{ twitter_username }}"/>
  {% endif %}

  <link rel="preload" as="style" href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' type='text/css' onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="style" href="{{ "/assets/css/bootstrap-theme.min.css" }}" onload="this.onload=null;this.rel='stylesheet'"/>
  <link rel="preload" as="style" href="{{ "/assets/css/bootstrap.min.css" }}" onload="this.onload=null;this.rel='stylesheet'"/>
  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap-theme.min.css" }}"/>
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" }}"/>
    {% if page.layout == "post" %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
    {% endif %}
  </noscript>
  <script>
    var main_style = document.createElement('link');
    main_style.rel = "stylesheet";
    main_style.type = "text/css";
    main_style.id = "main-style";
    main_style.media = "screen";
    try {
      var is_dark = (/true/i).test(localStorage.getItem("dark"));
    }
    catch(e) {
      var is_dark = false;
    }
    main_style.href = (is_dark
      ? "/assets/css/night.css"
      : "/assets/css/main.css");
    document.head.appendChild(main_style);
  </script>
  <noscript>
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css" id="main-style" media="screen"/>
  </noscript>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" }}" type="text/css" media="print"/>
  <link rel="alternate stylesheet" href="{{ "/assets/css/main.css" }}" type="text/css" title="Light Mode" media="screen  and (prefers-color-scheme: light)"/>
  <link rel="alternate stylesheet" href="{{ "/assets/css/night.css" }}" type="text/css" title="Night Mode" media="screen  and (prefers-color-scheme: dark)"/>
  <link rel="canonical" href="{{ page_url }}"/>
  <link rel="shortcut icon" href="{{ "/assets/img/logo.ico" }}" type="image/x-icon"/>

  {% if page.layout == "post" %}
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
  {% endif %}

</head>
