div.container
{
  overflow: scroll;
  width: 100%;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

td>img
{
  min-width: 320px;
  min-height: 320px;
  overflow: hidden;
}

/*.tdimg img:hover
{
  width: 640px;
  height: 640px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  max-width: 640px;
  max-height: 640px;
  margin-top: -320px;
  margin-left: -320px;
  overflow: hidden;
}*/

.tdimg img
{
  width: 320px;
  height: 320px;
  max-width: 320px;
  max-height: 320px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  overflow: hidden;
}

.tdimg
{
  width: 320px;
  height: 320px;
  max-width: 320px;
  max-height: 320px;
  overflow: hidden;
}

.imnet32_manifold
{
  margin:0px;
  padding:0px;
  height:320px;
  width:320px;
  background: url('{{ site.url }}/img/real_nvp_fig/imnet32_manifold.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imnet32_manifold:hover
{
  background: url('{{ site.url }}/img/real_nvp_fig/imnet32_manifold.gif');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.imnet_manifold
{
  margin:0px;
  padding:0px;
  height:320px;
  width:640px;
  background: url('{{ site.url }}/img/real_nvp_fig/imnet_manifold.png');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imnet_manifold:hover
{
  background: url('{{ site.url }}/img/real_nvp_fig/imnet_manifold.gif');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.celeba_manifold
{
  margin:0px;
  padding:0px;
  height:320px;
  width:640px;
  background: url('{{ site.url }}/img/real_nvp_fig/celeba_manifold.png');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.celeba_manifold:hover
{
  background: url('{{ site.url }}/img/real_nvp_fig/celeba_manifold.gif');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bedroom_manifold
{
  margin:0px;
  padding:0px;
  height:320px;
  width:640px;
  background: url('{{ site.url }}/img/real_nvp_fig/bedroom_manifold.png');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bedroom_manifold:hover
{
  background: url('{{ site.url }}/img/real_nvp_fig/bedroom_manifold.gif');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.church_manifold
{
  margin:0px;
  padding:0px;
  height:320px;
  width:640px;
  background: url('{{ site.url }}/img/real_nvp_fig/church_manifold.png');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.church_manifold:hover
{
  background: url('{{ site.url }}/img/real_nvp_fig/church_manifold.gif');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.tower_manifold
{
  margin:0px;
  padding:0px;
  height:320px;
  width:640px;
  background: url('{{ site.url }}/img/real_nvp_fig/tower_manifold.png');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tower_manifold:hover
{
  background: url('{{ site.url }}/img/real_nvp_fig/tower_manifold.gif');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dataset {
  transform: rotate(270deg);
  transform-origin:50% 50%;
}