html
{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    scrollbar-face-color: rgb(237,149,100);
    font-family:"Lucida Sans Unicode", "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
    background-color: rgb(26,13,0);
    background-image : url("img/montreal_day.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: scroll;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    scrollbar-face-color: rgb(100,149,237);
    font-family:"Lucida Sans Unicode", "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
    background-image : none;
    background-color: transparent;
    font-size:12px;
    overflow: visible;
}

div
{
    border-color: transparent;
    border-style: solid;
    background-color: rgb(72,60,50);
    font-weight: normal;
    margin:0px;
    color: rgb(169,143,100);
    overflow: visible;
}


.banner {
  content: url("img/name-blue-heavy.png") no-repeat;
}

.main
{
    width: 80%;
    min-width: 300px;
    min-height: 200px;
    padding: 10px;
    border: 3px rgb(169,143,100) outset;
    border-radius: 10px;
}

.id
{
    width: 160px;
    height: 160px;
}

.info
{
    float: left;
}

.publications
{
    width: 80%;
    min-width: 300px;
    min-height: 100px;
    padding: 10px;
    padding-top: 0px;
    border: 3px rgb(169,143,100) outset;
    border-radius: 10px;
}


.comic
{
    font-family:COMIC SANS MS;
    border-color: transparent;
    border-style: solid;
    background-color: rgb(219,219,219);
    font-weight: normal;
    font-size:10px;
    color: black;
    overflow: auto;
    margin: 20px;
    min-margin: 20px;
    max-margin: 50px;
    padding: 5px;
    border: 2px black solid;
    float: right;
    vertical-align:text-bottom;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-transform : uppercase;
}

img
{
    margin: 2px;
}

a
{
    color: rgb(245,222,179);
    text-decoration: none;
}

a:hover
{
    color: rgb(255,219,88);
    text-decoration: none;
}

a:focus
{
    color: rgb(255,219,88);
    text-decoration: none;
}

h2
{
    font-weight: bold;
    font-size: 12px;
}

.title
{
    fon
