<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include sidebar.html %}
      
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
      
    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- <script src="{{ site.baseurl }}/js/index.js"></script> -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>


  </body>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    
    <script>
    $(document).ready(function(){
    $('#page-content-wrapper').fadeIn();
    });
    </script>

    <script type="text/javascript">
    // these variables create the URL for switcher in the nav menu
    waitForEl("#CSS", fixSideBar);
    waitForEl(".post-content", initSwitch);

    // <span data-toggle="tooltip" data-placement="bottom" title="Some content inside the tooltip!" data-delay='{"hide" : "500"}'>Sample tooltip</span>
    $(function () {
        $("[data-toggle='tooltip']").tooltip({html:true, trigger:'manual'});
    });
    $(function () {
        $("[data-toggle='tooltip']").on("mouseleave", function () {$(this).tooltip('hide')});
        $("[data-toggle='tooltip']").on("mouseout", function () {$(this).tooltip('hide')});
        $("[data-toggle='tooltip']").on("touchend", function () {$(this).tooltip('hide')});
        $("[data-toggle='tooltip']").on("mouseenter", function () {$(this).tooltip('show')});
        $("[data-toggle='tooltip']").on("mouseover", function () {$(this).tooltip('show')});
        $("[data-toggle='tooltip']").on("touchstart", function () {$(this).tooltip('show')});
    });

    // <span data-toggle="popover" data-placement="bottom" data-content="Some content inside the popover with a <a href='/'>link</a>!" alt="Some content inside the popover with a link!">Clickable popover</span>
    $(function () {
        $("[data-toggle='popover']").popover({html:true});
    });
    </script>

</html>
