<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <h1 id="laurent-dinh">Laurent Dinh</h1>
          <div class="profile-pic-wrapper" style="text-align: center; height: max-content;">
            <img
              src="{{ page.profile_picture.src }}"
              alt="{{ page.profile_picture.alt }}"
              class="profile-pic"
              style="width: 167px; height: 167px;"
            />
          <div class="social-list" style="margin: 0px; padding: 0px;">
          {% for contact in site.footer.contact %}
            <a class="contact-logo-container" 
             data-toggle="tooltip" data-placement="bottom"
             title="{{ contact.name }}"
             href="{{ contact.link }}" id="{{ contact.name | downcase }}-link">
              <i class="contact-logo {{ contact.logo }}" alt="{{ contact.name }}"></i>
            </a>
          {% endfor %}
          {% for follow in site.footer.follow %}
            <a class="contact-logo-container" 
             data-toggle="tooltip" data-placement="bottom"
             title="{{ follow.name }}"
             href="{{ follow.link }}" id="{{ follow.name | downcase }}-link">
              <i class="contact-logo {{ follow.logo }}" alt="{{ follow.name }}"></i>
            </a>
          {% endfor %}
          </div>
          <small class="monospace" id="pronouns"
                 value="first">
            he / him / his
          </small>
          </div>
          <div id="description">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
